.CountryInfo{
    width: 66%;
    height: 92%;
    padding: 1%;
    margin: 0.5%;
    float: right;
    border: 1px solid black;
text-align: left;
    position: relative;

}
.CountryName{
    display: block;
}
.СapitalName{
    display: block;
}
.BorderName{
    list-style-type: none;
}
.Flag{
    display: block;
    width: 250px;
    height: auto;
    position: absolute;
    right: 1%;
    top: 1%;
}
.Maps{
    position: absolute;
    right: 1%;
    bottom: 1%;
    display: block;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.Error{
    width: 100%;
    height: auto;
}