.Countries{
    width: 24%;
    height: 97%;
    float: left;
    padding-left: 3rem;
    overflow-y: scroll;
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    border: 1px solid;
    margin: 0.5%;
}