.App {
  text-align: center;
  width: 1024px;
  height: 600px;
  margin: 0 auto;
}
.Field{
  border: 1px solid black;
    width: 100%;
    height: 400px;
}
.SelectCountry{
    width: 66%;
    height: 92%;
    padding: 1%;
    margin: 0.5%;
    float: right;
    border: 1px solid black;
}